* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

.min-h-100 {
  min-height: 100vh;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

main {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
}

.divider > div {
  flex: 1 1 33.333%;
  text-align: center;
}

.w-100 {
  width: 100%;
}

.form-group,
.auth > div {
  margin: 0.75rem 0;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}
