body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-half {
  flex: 1 1 50%;
}

.card {
  background-color: #393e4a;
  border-radius: 8px;
  box-shadow: 0px 0px 5px black;
  width: 100%;
  font-size: 16px;
  padding: 1em;
  margin: 1em 0;
}
